<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookInfo</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body>
    <strong style="color: blue;">Add Author to this Book Below </strong>
    <a style="color: orange;" href="/">Go Back To Home Page</a>
    <h1>BookInfo</h1>
    <hr>
    <h1><label style="color: blue;"> Book# : </label>{{book.id}}</h1>
    <h2><label style="color: blue;"> Book Title : </label>{{book.title}}</h2>
    <h3><label style="color: blue;"> Book Desc : </label>{{book.desc}}</h3>
</body>

</html>